name: Scheduled test

on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '30 5 * * *'
  workflow_dispatch:


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Provide test properties
        run: |
          echo  "irdataapi_user=$IRDATAAPI_USER" > src/test/resources/application-test.properties
          echo  "irdataapi_password=$IRDATAAPI_USER" >> src/test/resources/application-test.properties
          cat src/test/resources/application-test.properties
        env:
          irdataapi_user: ${{secrets.IR_USERNAME}}
          irdataapi_password: ${{secrets.IR_PASSWORD}}
      - name: Build with Maven
        run: mvn --batch-mode --update-snapshots verify -Dmaven.test.skip=false -Dtest=IrDataClientCompletenessTest
